* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62,5%;
}

/* header items */

.content_header {
    /* border: 2px solid black; */
    width: 100%;
    height: 10rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}
    .content_header_item {
        margin: 2% 0.2% 0.2% 2%; 
    }
        .content_header_item4_image {
            margin-right: 2.5rem;
            margin-left: 1rem;
        }

    .image_logo {
        border-radius: 100%;
        height: 50px;
        width: 50px;
        margin-top: 0.9rem;
    }

/* main items */

/* logo */

.content_main {
    /* border: black solid 2px; */
    height: 35rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
}

/* logo */

    .content_main_item1 span {
        font-size: 7rem;
    }
        .g-blue {
            color:#4285F4;
        }
        .o-red {
            color:#DB4437;
        }
        .o-yellow {
            color:#F4B400;
        }
        .l-green {
            color:#0F9D58;
        }
        .e-red {
            color:#DB4437;
            display:inline-block;
            transform:rotate(-20deg);
        }

/* input */

    .content_main_item2_screen {
        border: 1px solid #bfccda;
        width: 35rem;
        margin: 2rem;
        height: 2.5rem;
        border-radius: 10px / 60%;
    }

/* buttons */
    .content_main_item3 button {
        height: 3.6rem;
        border: 1px solid #f8f9fa;
        margin: 1.1rem;
        text-align: center;
        cursor: pointer;
        border-radius: 4px;
        color: #3c4043;
        font-family: Arial, sans-serif;
        padding: 0 1.6rem;
        background-color: #f8f9fa;
    }

/* footer items */

.container_footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.container_footer_section1 {
    /* border: black solid 2px; */
    justify-content: space-evenly;
}

.container_footer_section1_ul {
    /* border: black 2px solid; */
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    padding: 0 2rem;
    color: #3c4043;
}

.container_footer_section1_ul_item {
    margin: 1.1rem;
}

.container_footer_section2_ul {
    /* border: black 2px solid; */
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    padding: 0 2rem;
    color: #3c4043;
}

.container_footer_section2_ul_item {
    margin: 1.1rem;
}