* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62,5%;
}

.content_header {
    width: 100%;
    height: 12rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

    .image_logo {
        border-radius: 100%;
    }
